[features]
seeds = false
skip-lint = false

[programs.localnet]
seekalpha = "9URCH6UhsMmgwX9xr2L84fimrGjpH8r3xheaSaZ21qGb"

[programs.devnet]
seekalpha = "9URCH6UhsMmgwX9xr2L84fimrGjpH8r3xheaSaZ21qGb"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "npx ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
