[features]
seeds = false
skip-lint = false

[programs.localnet]
seekalpha = "FEiFToWsHmCgjevuw9k8DNS8N8BdVdwTKostmvN9LS8B"

[programs.devnet]
seekalpha = "FEiFToWsHmCgjevuw9k8DNS8N8BdVdwTKostmvN9LS8B"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "npx ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
